html {
    background-color: #fafafa !important;
}

h3 {
    text-align: center !important;
}

body {
    background-color: #fafafa !important;
}

a {
    text-decoration: none;
    color: black;
}

.container-fluid {
    background-color: #fafafa !important;
}